<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Api</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        body {
            font-size: 14px;
            font-family: "Microsoft YaHei UI";
        }

        table th, table td {
            width: 25px;
            height: 25px;
            text-align: center
        }

        table {
            margin-bottom: 25px;
        }

        tbody tr th:first-child,
        tbody tr th:last-child,
        tbody tr td:first-child,
        tbody tr td:last-child {
            color: #ff0000;
        }

        .disabled {
            color: #bbb !important;
        }

        .signin {
            background: aquamarine;
        }

        .flex {
            width: 950px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .wrap{
            width: 950px;
            margin: 0 auto;
        }

    </style>
</head>
<body style="overflow: hidden">
<div id="app">
    <div class="wrap">
        <select v-model="year">
            <option value="2018">2018</option>
            <option value="2019">2019</option>
        </select>
         年 潮庭健身 共计打卡{{yearCount}}天
    </div>

    <br/>


    <div class="flex">
        <month ref="mm" v-for="m in 12" :month="m" :year="year" :key="m" :ticket="ticket"></month>
    </div>

</div>


<script>

    Vue.component('month', {
        props: ['year', 'month', 'ticket'],
        computed: {},
        watch: {
            year(val) {
                this.year = val;

                this.days = [];
                this.genFirstWeek();
                this.genOtherWeek();

            }
        },
        data: function () {
            return {
                days: []
            }
        },
        template: `
            <table border="1" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="7">{{month}}月</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>日</th>
                    <th>一</th>
                    <th>二</th>
                    <th>三</th>
                    <th>四</th>
                    <th>五</th>
                    <th>六</th>
                </tr>
                <tr v-for="weeks in this.days">
                    <td v-for="day in weeks" :ref="refValue(day)" :id="refValue(day)" :class="{'signin':className(day)}">{{day}}</td>
                </tr>
            </tbody>
            </table>`,
        methods: {
            className(day) {
                return this.ticket.some(item => item.StartDate === this.refValue(day))
            },
            refValue(day) {
                let d, m = 0;
                m = this.month >= 10 ? this.month : '0' + this.month;

                if (day === "") {
                    return this.year + '-' + m + '-' + Math.random();
                }
                d = day >= 10 ? day : '0' + day;
                return this.year + '-' + m + '-' + d;
            },
            genFirstWeek() {
                //第一天
                let firstDay = `${this.year}-${this.month}-01`;
                //星期几
                let week = new Date(firstDay).getDay();

                let arr = [];
                for (let i = 0; i < week; i++) {
                    arr.push("");
                }
                for (let i = 1; i < 8 - week; i++) {
                    arr.push(i);
                }

                this.days.push(arr);
                return arr;
            },
            genOtherWeek() {
                if (this.days.length !== 6) {
                    //拿到最后一个数组的最后一个元素
                    let lastArr = this.days[this.days.length - 1];
                    let lastEle = lastArr[6];

                    //获取当月最后一天的值
                    let lastDate = new Date(this.year, this.month, 0).getDate();
                    let arr = [];

                    if (lastEle === '') {
                        for (let i = 0; i < 7; i++) {
                            arr.push('');
                        }
                    } else {
                        for (let i = lastEle + 1; i < lastEle + 8; i++) {
                            if (i <= lastDate) {
                                arr.push(i);
                            } else {
                                arr.push('');
                            }
                        }
                    }

                    this.days.push(arr);

                    this.genOtherWeek();
                }
            }
        },
        mounted() {
            this.genFirstWeek();
            this.genOtherWeek();
        }
    });

    var app = new Vue({
        el: "#app",
        data: {
            year: 2019,
            ticket: [],
            yearCount:0
        },
        // computed:{
        //     yearCount(){
        //         return document.getElementsByClassName('signin').length;
        //     }
        // },
        watch:{
            year(){
                setTimeout(()=>{
                    this.yearCount = document.getElementsByClassName('signin').length;
                },1000)
            }
        },
        methods: {},
        async mounted() {
            const response = await axios.get(`/getTicketList`);
            this.ticket = response.data.Ticket;

            setTimeout(()=>{
                this.yearCount = document.getElementsByClassName('signin').length;
            },1000)
        }
    })
</script>
</body>
</html>